Repository zulucmd/zulu, changes with the labels that .github/labeler.yml gives for each.
All labels: area/doc-gen, area/lib, area/github, area/*sh completion

Bump to v2
  .gitignore
  README.md
  args_test.go
  bash_completions_test.go
  command.go
  command_test.go
  completions.go
  completions_test.go
  doc/adoc_docs.go
  doc/adoc_docs_test.go
  doc/cmd_test.go
  doc/man_docs.go
  doc/man_docs_test.go
  doc/man_examples_test.go
  doc/md_docs.go
  doc/md_docs_test.go
  doc/rest_docs.go
  doc/rest_docs_test.go
  doc/util.go
  doc/yaml_docs.go
  doc/yaml_docs_test.go
  example_hooks_test.go
  fish_completions_test.go
  flag_groups_test.go
  go.mod
  internal/enumer/enumer.go
  internal/util/util_test.go
  site/config.toml
  site/content/changelog.md
  site/content/completions/completion.md
  site/content/docgen/adoc.md
  site/content/docgen/man.md
  site/content/docgen/md.md
  site/content/docgen/rest.md
  site/content/docgen/yaml.md
  site/content/getting_started.md
  site/content/installation.md
  site/layouts/shortcodes/githubReleases.html
  zulu_test.go
Labels: area/doc-gen, area/lib, area/*sh completion

Minor fixes to enumer
  gen_templates/shell_directives.txt.gotmpl
  gen_templates/stringer.go.gotmpl
  internal/enumer/enumer.go
  shell_comp_directive.gen.go
Labels: area/lib

mv zulu-completion-testing > completion-integrations
  completion-integrations/.dockerignore
  completion-integrations/.gitignore
  completion-integrations/LICENSE
  completion-integrations/Makefile
  completion-integrations/README.md
  completion-integrations/src/comp-test-lib.bash
  completion-integrations/src/comp-test-lib.fish
  completion-integrations/src/test-all.sh
  completion-integrations/testingdir/caterpiller
  completion-integrations/testingdir/dir/jsondir/.gitkeep
  completion-integrations/testingdir/dir/txtdir/.gitkeep
  completion-integrations/testingdir/dir/yamldir/.gitkeep
  completion-integrations/testingdir/dir2/.gitkeep
  completion-integrations/testingdir/file
  completion-integrations/testingdir/mydir/.gitkeep
  completion-integrations/testingdir/setup.json
  completion-integrations/testingdir/setup.txt
  completion-integrations/testingdir/setup.yaml
  completion-integrations/testprog/Makefile
  completion-integrations/testprog/go.mod
  completion-integrations/testprog/go.sum
  completion-integrations/testprog/testprog.go
  completion-integrations/tests/Dockerfile.alpine-bash-3.2
  completion-integrations/tests/Dockerfile.alpine-bash-4.4
  completion-integrations/tests/Dockerfile.alpine-bash-5.1
  completion-integrations/tests/Dockerfile.rockylinux-bash-4.4
  completion-integrations/tests/Dockerfile.rockylinux-fish-3.3
  completion-integrations/tests/comp-tests.bash
  completion-integrations/tests/comp-tests.fish
Labels: none

Remove testprog go.mod
  completion-integrations/.dockerignore
  completion-integrations/testprog/go.mod
  completion-integrations/testprog/go.sum
  completion-integrations/testprog/testprog.go
Labels: none

Fix line endings
  completion-integrations/LICENSE
  completion-integrations/README.md
  completion-integrations/src/comp-test-lib.fish
  completion-integrations/tests/comp-tests.fish
Labels: none

Markdown linter
  .mdl_style.rb
  .mdlrc
  completion-integrations/README.md
  site/assets/scss/slate/docuapi_overrides.scss
  site/content/completions/bash.md
  site/content/completions/completion.md
  site/content/completions/fish.md
  site/content/completions/powershell.md
  site/content/completions/zsh.md
  site/content/concepts.md
  site/content/conduct.md
  site/content/docgen/docs.md
  site/content/getting_started.md
  site/content/installation.md
  site/content/overview.md
Labels: none

Fix padding with hidden/deprecated commands
  command.go
  command_test.go
  doc/md_docs_test.go
  templates/usage_default.txt.gotmpl
Labels: area/doc-gen, area/lib

Improve fish completion tests
  fish_completions_test.go
Labels: area/lib, area/*sh completion

Go mod tidy + upgrade hugo theme
  site/config.toml
  site/go.mod
  site/go.sum
Labels: none

Fix tests and automated completion from Marc Khouzam
  .github/workflows/test-completions.yml
  command.go
  completion-integrations/Makefile
  completion-integrations/README.md
  completion-integrations/src/comp-test-lib.fish
  completion-integrations/src/test-all.sh
  completion-integrations/tests/Dockerfile.rockylinux-bash-4.4
  completion-integrations/tests/comp-tests.bash
  completion-integrations/tests/comp-tests.fish
  completions.go
  templates/completion.fish.gotmpl
Labels: area/lib, area/github, area/*sh completion

Use simple testing framework
  args_test.go
  command.go
  command_test.go
  completions_test.go
  fish_completions_test.go
  flag_groups_test.go
  zulu_test.go
Labels: area/lib, area/*sh completion

Upgrade to go 1.22 + ugprade dependencies and fix manpages
  .pre-commit-config.yaml
  doc/cmd_test.go
  doc/man_docs.go
  doc/man_docs_test.go
  go.mod
  go.sum
  internal/enumer/enumer.go
Labels: area/doc-gen

Attempt fixing ci
  .github/workflows/test-completions.yml
  .github/workflows/test.yml
Labels: area/github

Run push only on main
  .github/workflows/test.yml
Labels: area/github

fix golangci issues + upgrade all actions
  .github/workflows/labeler.yml
  .github/workflows/site.yml
  .github/workflows/stale.yml
  .github/workflows/test-completions.yml
  .github/workflows/test.yml
  internal/enumer/enumer.go
  site/content/docgen/adoc.md
  site/content/docgen/md.md
  site/content/docgen/rest.md
  site/content/docgen/yaml.md
Labels: area/github

Improve documentation generation
  doc/adoc_docs.go
  doc/adoc_docs_test.go
  doc/cmd_test.go
  doc/doc.go
  doc/exports_test.go
  doc/man_docs.go
  doc/man_docs_test.go
  doc/man_examples_test.go
  doc/md_docs.go
  doc/md_docs_test.go
  doc/rest_docs.go
  doc/rest_docs_test.go
  doc/templates/docs.adoc.gotmpl
  doc/templates/docs.man.gotmpl
  doc/templates/docs.md.gotmpl
  doc/templates/docs.rest.gotmpl
  doc/yaml_docs.go
  doc/yaml_docs_test.go
  go.mod
  go.sum
  internal/template/template.go
  internal/util/util.go
Labels: area/doc-gen

fix labeler + improve usage completion output
  .github/workflows/labeler.yml
  templates/usage_completion_bash.txt.gotmpl
  templates/usage_completion_fish.txt.gotmpl
  templates/usage_completion_pwsh.txt.gotmpl
  templates/usage_completion_zsh.txt.gotmpl
Labels: area/github

Add 'one required flag' group
  completions_test.go
  flag_groups.go
  flag_groups_test.go
  site/content/getting_started.md
Labels: area/lib, area/*sh completion

Customizable error message prefix
  command.go
  command_test.go
  site/content/getting_started.md
Labels: area/lib

feat: add getters for flag completions
  completions.go
  completions_test.go
Labels: area/lib, area/*sh completion

Support for case-insensitive command names
  command.go
  command_test.go
  completions.go
  zulu.go
Labels: area/lib, area/*sh completion

Allow running persistent run hooks of all parents
  command.go
  command_test.go
  site/content/getting_started.md
  zulu.go
Labels: area/lib

Expose ValidateFlagGroups
  command.go
  flag_groups.go
Labels: area/lib

Support usage as plugin for tools like kubectl
  command.go
  command_test.go
  site/content/getting_started.md
Labels: area/lib

The default ShellCompDirective can be customized for a command and its subcommands
  completions.go
  completions_test.go
  site/content/completions/completion.md
Labels: area/lib, area/*sh completion

feat: add Completion type and CompletionWithDesc helper
  command.go
  completions.go
  completions_test.go
  site/content/completions/completion.md
Labels: area/lib, area/*sh completion

Check for group presence after full initialization
  command.go
  command_test.go
  completions.go
  site/content/getting_started.md
Labels: area/lib, area/*sh completion

Add unique args validator
  args.go
  args_test.go
  site/content/getting_started.md
Labels: area/lib

Allow to reset the templates to the default
  command_test.go
  site/content/getting_started.md
Labels: area/lib

Remove the default "completion" cmd if it is alone
  command.go
  completions.go
  completions_test.go
  exports_test.go
  site/content/completions/completion.md
Labels: area/lib, area/*sh completion

fix: prevent completions from mutating os.Args via append side effect
  completions.go
  completions_test.go
Labels: area/lib, area/*sh completion

Allow sourcing zsh completion script
  templates/completion.zsh.gotmpl
  templates/usage_completion_zsh.txt.gotmpl
  zsh_completions_test.go
Labels: area/lib, area/*sh completion

completions: do not detect arguments with dash as 2nd char as flag
  command.go
  completions_test.go
Labels: area/lib, area/*sh completion

Don't complete --help flag when flag parsing disabled
  completions.go
  completions_test.go
Labels: area/lib, area/*sh completion

completion: improve detection for flags that accept multiple values
  completions.go
  completions_test.go
  go.mod
  go.sum
Labels: area/lib, area/*sh completion

Fix lint findings reported by golangci-lint v1.63.3
  command.go
  command_test.go
  completions.go
  flag_groups_test.go
  zulu.go
Labels: area/lib, area/*sh completion

.github/labeler.yml:

# changes to documentation generation
"area/doc-gen": doc/**/*

# changes to the core Go cobra lib package
"area/lib": ./*.go

# changes to GitHub workflows
"area/github": .github/**/*

# changes to shell completions
"area/*sh completion":
  - ./*completions*
